In [1]:
# Author: iCule10
# Title: Logistic Regression from scratch

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('heart.csv')

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
df.shape

(303, 14)

In [6]:
# Model Development

In [33]:
# Sigmond / Hypothesis function

def hypothesis(X, theta):
    z = np.dot(theta,X.T)
    return(1 / (1 + np.exp(-(z))) - 0.0000001)

In [39]:
# Loss / Cost function

def cost(X, y, theta):
    y1 = hypothesis(X, theta)
    return(-(1/len(X)) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1)))

In [29]:
# Gradient Decent

def gradient_decent(X, y, theta, alpha, epochs):
    m = len(X)
    j = [cost(X, y, theta)]
    
    for i in range(0, epochs):
        h = hypothesis(X,theta)
        for i in range(0, len(X.columns)):
            theta[i] -= (alpha/m) * np.sum((h - y) * X.iloc[:,i])
            j.append(cost(X, y, theta))
    return(j,theta)

In [10]:
# Predecting and calculating accuracy

def predict(X, y, theta, alpha, epochs):
    j, th = gradient_decent(X, y, theta, alpha, epochs)
    h = hypothesis(X, theta)
    
    for i in range(len(h)):
        h[i] = 1 if h[i] >= 0.5 else 0
    
    y = list(y)
    
    acc = np.sum([y[i] == h[i] for i in range(len(y))]) / len(y)
    return(j, acc)

In [11]:
# Getting data redy for the model

df = pd.concat([pd.Series(1, index = df.index, name = '00'), df], axis = 1)

In [12]:
df.head()

,00,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,1,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,1,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,1,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [15]:
X = df
y = df['target']

In [40]:
theta = [0.5]*len(X.columns)
J, acc = predict(X,y, theta, 0.00001, 2500)

<ipython-input-39-c392f4da1178>:5: RuntimeWarning: invalid value encountered in log
  return(-(1/len(X)) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1)))

In [41]:
print('Model Accuracy')
print(acc * 100)

Model Accuracy
54.78547854785478